.App {
  text-align: center;
}

body {
  background: rgba(148, 187, 233, 1) 100%;
  color: rgb(46, 46, 170);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "browsing-bar"
    "content";
  min-height: 100vh;
}

.header {
  background: #d9f1f6;
  text-align: center;
  margin: auto;
  height: 110px;
  border: 6px solid rgb(46, 46, 170);
  font-size: x-large;
}

.reviews-list {
  display: grid;
  list-style-type: none;
}
.reviews {
  padding: 20px;
  border: 5px solid rgb(46, 46, 170);
  margin: 10px 40% 10px 40%;
  background-color: rgb(195, 232, 245);
}
.review-img {
  width: 170px;
  height: 150px;
  margin: 10px;
}
h4 {
  margin: auto;
  font-size: large;
}

.login {
  margin-left: 90%;
  display: inline-block;
  margin-top: 20px;
}
.users-list {
  display: inline-block;
}

.user-image {
  width: 100px;
  height: 100px;
}
